/* Set everything to zero */
* {
    margin: 0;
    padding: 0;
}

/********/
/* HOME */
/********/

/********/
/* BODY */
/********/
.MAIN-CONTENT-CONTAINER {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SIDEBAR {
    border-right: 1px solid grey;
    flex: 0.5 3;
    margin-left: 1em;
}

.MAIN-CONTENT {
    width: 78%;
    margin-left: 1em;
}

.MC-ITEM {
    border: 1px solid yellow;
    font-size:larger;
}


/*********/
/* EXTRA */
/*********/
.APPLY-FONT1 {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
}

.materials-icons.white {
    color: white;
}
